// layout 너비 변수
$layout-xs: 479px;
$layout-sm: 639px;
$layout-md: 839px;
$layout-lg: 1079px;
$layout-xl: 1279px;

// 색상 변수
$color-primary: #0D4DAD;
$color-secondary: #eddd5d;
$color-green: #275544;
$color-sub-green: #647138;
$color-dark-gray: #272727;
$color-gray: #555555;
$color-light-gray: #A1A1A1;
$color-black: #121212;
$color-black-95: rgba(18, 18, 18, 0.8);
$color-white: #FFFFFF;
$color-trans: transparent;

// fonts 변수
$Spoqa: "Spoqa Han Sans Neo", sans-serif;
$NotoKr: "Noto Sans", "Noto Sans CJK KR", sans-serif;
$Roboto: "Roboto", sans-serif;

